.product-img {
    width: 700px;
    height: 600px;
    background-color: rgb(230, 230, 230);
}

.product-content {
    max-width: 600px;
    margin-top: .5rem;
}

.product-content h3 {
    margin-top: 1rem;
    font-size: 3rem;
}

.product-content h4 {
    margin: 2.5rem 0 1.5rem 0;
    font-size: 1.75rem;
}

.product-content h3 + h4 {
    margin-top: 2rem;
    color: rgb(235, 94, 0);
    font-size: 2rem;
}

.product-content hr {
    margin: 1rem 0;
}

.product-content p {
    margin: 1.5rem 0 3rem 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.ItemDetail a:hover {
    color: #ebac24;
    transition: 0.2s ease-in;
}


.to-cart {
    width: 100%;
    padding: 1.5rem;
    border: none;
    color: white;
    background: rgb(235, 94, 0);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    flex-basis: 80%;
}