.cart-widget {
    cursor: pointer;
    position: relative;
}
.cart-widget img {
    width: 30px;
}

.cart-widget span {
    padding: 0.25rem 0.5rem;
    border-radius: 200px;
    color: white;
    background: rgb(235, 94, 0);
    font-size: 0.75rem;
    text-align: center;
    position: absolute;
    left: 22px;
    bottom: 18px;
}