.ItemListContainer {
    width: 100%;
    padding: 2rem 5rem;
    margin: auto;
    text-align: center;
}

.ItemListContainer h2 {
    padding: 3rem;
    color: #2b2b2b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
}