.ItemListContainer {
    width: 100%;
    margin: 5rem auto 10rem auto;
    text-align: center;
}

.ItemListContainer h2 {
    padding: 5rem;
    color: #131313;
    font-size: 4rem;
    letter-spacing: 10px;
    text-transform: uppercase;
}