.Counter {
    width: 30%;
    margin: 1.5rem auto;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 8rem;
}

.Button {
    width: 100%;
    padding: 2rem 5rem;
    margin: 1.5rem auto;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.Button:active {
    background-color: rgb(226, 226, 226);
}

.Controls {
    display: flex;
}

.Controls h4 {
    padding: 2rem 5rem;
    line-height: 1.5rem;
}