.counter {
    font-size: 1.5rem;
    font-weight: 500;
}

.counter-quantity {
    display: flex;
    justify-content: space-between;
}

.counter-quantity span {
    padding: .75rem;
    font-size: 1.5rem;
    flex-basis: 80%;
    text-align: center;
}

.counter-quantity button {
    padding: .5rem 1rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

.add-to-cart {
    width: 100%;
    padding: 1.5rem;
    margin: 1.5rem 0;
    border: none;
    color: white;
    background: #131313;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    flex-basis: 80%;
}

.add-to-cart:hover {
    border: none;
    background: rgb(235, 94, 0);
    transition: 0.2s ease-in;
}

